<html>

<head>
  {% load static %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="{% static 'smpa/style.css' %}">
  <script src="https://kit.fontawesome.com/545a433e55.js" crossorigin="anonymous"></script>

  <title>Login</title>
  <h1 class="title">Log In</h1>
</head>

<!-- <div class="box">
  <body>
    {% if error_message %}
      <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    <form action="{% url 'smpa:my_login' %}"  method="post">
      {% csrf_token %}
      <label for="username">Username:</label>
      <input type="text" id="username" name="username">
      <br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
      <br>
      <input type="submit" value="Login">
    </form>
    <p>
      <a href="{% url 'smpa:signup' %}">Sign up here if you don't already have an account</a>
    </p>
  </body>
</div>
</html> -->

<body>
  <section class="section">
    <div class="box">
      <form action="{% url 'smpa:my_login' %}" method="post">
        {% csrf_token %}
        <div class="field">
          <label class="label">Username</label>
          <div class="control">
            <input class="input" type="text" id="username" name="username" placeholder="e.g. alex@example.com">
          </div>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="password" id="password" name="password" placeholder="********">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input type="submit" class="button is-primary" value="Login">
          </div>
        </div>
      </form>
      <p>
        <a href="{% url 'smpa:signup' %}">Sign up here if you don't already have an account</a>
      </p>
    </div>

  </section>
</body>

</html>