<div class="box">
    <article class="media">
        <div class="media-content">
            <div class="content">
                <p>
                    {{poll.author.userprofile_set.all.0.firstname | title}} {{poll.author.userprofile_set.all.0.lastname | title}}
                    <small><a
                            href="{% url 'smpa:profilepage' poll.author.username  %}">@{{poll.author.username}}</a></small>
                    <small>{{poll.pub_date}}</small>
                    <br>
                    {% if hyperlinked_question %}
                        <a href="{% url 'smpa:polldetail' poll.id %}">{{poll.question_text}}</a>
                    {% else %}
                        {{poll.question_text}}
                    {% endif %}
    
                </p>
            </div>
            <nav class="level is-mobile">
                <div class="level-left">
                    <a class="level-item">
                        <span class="icon is-small">
                        {% if request.user not in poll.upvoters.all %}
                        <a href="{% url 'smpa:upvote' poll.id %}"><i class="fa-regular fa-thumbs-up"></i></a>
                        {% else %}
                        <a href="{% url 'smpa:upvote' poll.id %}"><i class="fa-solid fa-thumbs-up"></i></a>
                        {% endif %}
                        &nbsp; {{poll.upvoters.all | length}}
    
                        </span>
                    </a>
    
                    <a class="level-item">
                        <span class="icon is-small">
                        {% if request.user not in poll.downvoters.all %}
                        <a href="{% url 'smpa:downvote' poll.id %}"><i class="fa-regular fa-thumbs-down"></i></a>
                        {% else %}
                        <a href="{% url 'smpa:downvote' poll.id %}"><i class="fa-solid fa-thumbs-down"></i></a>
                        {% endif %}
                        &nbsp; {{poll.downvoters.all | length}}
    
                        </span>
                    </a>
                </div>
            </nav>
        </div>
    
    </article>
    
    
    
    
</div>
