<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'smpa/style.css' %}">
    <script src="https://kit.fontawesome.com/545a433e55.js" crossorigin="anonymous"></script>
 
 </head>
 
 <body>
    
    {% include 'smpa/topnavbar.html' %}

    <section class="section">
        <h1 class="title">Recommended</h1>
        {% include 'smpa/polls.html' %}
    </section>



</body>
</html>