<html>

<head>
  <title>Sign Up</title>
  <h1 class="title">Sign Up</h1>
  {% load static %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="{% static 'smpa/style.css' %}">
  <script src="https://kit.fontawesome.com/545a433e55.js" crossorigin="anonymous"></script>
</head>
<!-- <body>
    {% if error_message %}
      <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    <form action="{% url 'smpa:signup' %}"  method="post">
      {% csrf_token %}
      <p>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
      </p>
      <p>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
      </p>
      <p>
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="firstname">
      </p>
      <p>
        <label for="lastname">Last Name:</label>
        <input type="lastname" id="lastname" name="lastname">
      </p>
      <p>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
      </p>
      <input type="submit" value="signup">
    </form>
  </body>

</html> -->

<body>


  <section class="section">
    <div class="box">
      {% if error_message %} <small>username already in use</small> {% endif %}
      
      <form action="{% url 'smpa:signup' %}" method="post">
        {% csrf_token %}
        <div class="field">
          <label class="label">Username:</label>
          <div class="control">
            <input class="input" type="text" id="username" name="username" placeholder="e.g. alexjones">
          </div>
        </div>


        <div class="field">
          <label class="label">Password:</label>
          <div class="control">
            <input class="input" type="password" id="password" name="password" placeholder="********">
          </div>
        </div>

        <div class="field">
          <label class="label">First Name:</label>
          <div class="control">
            <input class="input" type="firstname" id="firstname" name="firstname" placeholder="Alex">
          </div>
        </div>

        <div class="field">
          <label class="label">Last Name:</label>
          <div class="control">
            <input class="input" type="lastname" id="lastname" name="lastname" placeholder="Jones">
          </div>
        </div>

        <div class="field">
          <label class="label">Email:</label>
          <div class="control">
            <input class="input" type="email" id="email" name="email" placeholder="alex@gmail.com">
          </div>
        </div>




        <div class="field">
          <div class="control">
            <input type="submit" class="button is-primary" value="Signup">
          </div>
        </div>

      </form>
    </div>
  </section>
</body>

</html>